body {
	background-color:Aquamarine;
	margin:0px;
}

nav{
width: 20%;
height:500px;
background-color: #004d40;
float:left;
}

.isi{
width: 80%;
height:500px;
background-color: Aquamarine;
float: right;
}

footer{
width: 100%;
height: 70px;
background-color:#827717;
}

.judul{
	margin-left:auto;margin-right:auto;display:block;width:100%;
	}
a { 
	text-decoration: none;
	color: black;
	background-color: orange;
	font-family: arial;
	font-weight: bold;
	border: 1px solid black;
	line-height: 50px;
	margin: auto;
	padding: 15px;
	border-radius: 5px;
}
	a:hover
	{ background-color: yellow}
	
.kikd{
	width:33%;
	height:400px;
	background-color: Aquamarine;
	float:left;
}
	
.materi{
	width:33%;
	height:400px;
	background-color: Aquamarine;
	float:left;
}	

.evaluasi{
	width:33%;
	height:400px;
	background-color: Aquamarine;
	float:left;
}	
.imgkikd{
	transition:0.5s;}
.imgmateri{
	transition:0.5s;}
.imgevaluasi{
	transition:0.5s;}
	
.imgkikd:hover{
	width:230px;
	height:230px;
	transition:0.5s;
}
.imgmateri:hover{
	width:230px;
	height:230px;
	transition:0.5s;
}
.imgevaluasi:hover{
	width:230px;
	height:230px;
	transition:0.5s;
}
	
















