/* --------------------------AWAL HP CSS-------------------------------- */
.judul-materi {
    display: inline-block;
    background-color: rgb(131, 176, 190);
    width: 80%;
    padding: 3px 10px;
    border-radius: 0px 10px 10px 0px;
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 30px;
    margin: 3px;
    border-left: 4px solid rgb(1, 59, 78);
    height: 30px;
}

mjx-container {
    display: inline-block !important;
    margin: 0 !important;
    padding: 0 !important;
}

ol li {
    font-size: 18px;
    margin-left: 30px;
    text-align: justify;
    padding-right: 20px;
}

.masuk {
    margin-left: 15px;
    margin-right: 10px;
    font-size: 18px;
}

.jarak_atas {
    margin-top: 10px;
}

.jarak_bawah {
    margin-bottom: 10px;
}

span:hover {
    cursor: pointer;
}

hr {
    height: 5px;
    background-color: rgb(131, 176, 190);
    border: none;
}

.judul-materi .nah:hover {
    cursor: pointer;
}

.lalala {
    height: 60px;
}


mjx-container {
    font-size: 4.2vw !important;
}

.bold {
    font-weight: bold;
}



/* --------------------------TENGAH HP CSS-------------------------------- */

.ke {
    display: inline-block;
    background-color: rgb(131, 176, 190);
    font-weight: bold;
    padding: 5px 3px;
    padding-right: 10px;
    border-radius: 0 15px 0 0;
    width: 27vw;
    text-align: center;
    font-size: 4vw;
    border: 2px solid rgb(1, 59, 78);
}

.ke_aktif {
    background-color: rgb(1, 59, 78) !important;
    padding-top: 10px;
}

.ke:hover {
    cursor: pointer;
    background-color: rgb(1, 59, 78) !important;
    padding-top: 10px;
}

.langkahnya {
    width: 100%;
    background-color: white;
    border: 2px solid rgb(1, 59, 78);
    margin-top: -2px;
    padding: 5px;
    box-sizing: border-box;
}

.note {
    font-size: 13px !important;
    font-style: italic;
    margin-top: 10px;
    text-align: center;
}

.tabel2 {
    box-sizing: border-box;
    width: 100%;
}

.tabel2 table,
.tabel2 td,
.tabel2 th {
    border: 1px solid rgb(1, 59, 78);
    border-collapse: collapse;
}

.kethap {
    width: 30%;
    padding: 2px;
}

.proses {
    width: 70%;
    padding: 2px;
}

th {
    text-align: center;
    background-color: lightblue;
}

.interaktif {
    text-align: center;
    width: 90%;
    height: 300px;
    margin-left: 20px;
}

.Perbesarlah {
    display: inline-block;
    padding: 5px 10px;
    background-color: lightblue;
    border: 1px solid rgb(1, 59, 78);
    border-radius: 10px;
    margin-left: 40%;
    margin-top: 10px;
    text-decoration: none;
    color: black;

}

.Perbesarlah:hover {
    cursor: pointer;
}

.divscrath {
    overflow: hidden;
    height: 272px;
}

.scratch {
    margin-top: -40px;
    width: 100%;
    height: 252px;
}


.sifat {
    padding: 5px;
    border: 2px solid rgb(1, 59, 78);
    display: inline-block;
    text-align: center;
}

.next_pensil {
    background-color: lightblue;
    padding: 5px;
    display: inline-block;
    margin-top: 10px;
    border: 1px solid rgb(1, 59, 78);
    border-radius: 5px;
}

.next_pensil:hover {
    cursor: pointer;
}

.red {
    color: red;
}

.marginnn {
    margin: 2px, 15px;
}

.petunjuk {
    display: inline-block;
    background-color: rgb(131, 176, 190);
    width: 80%;
    padding: 3px 10px;
    border-radius: 0px 10px 10px 0px;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 30px;
    margin: 3px;
    border: 2px solid rgb(1, 59, 78);
    height: 30px;
}

.petunjuk:hover {
    cursor: pointer;
}

.isinya {
    padding: 3px 10px;
    border: 2px solid rgb(1, 59, 78);
    margin-left: 3px;
    margin-top: -5px;
    box-sizing: border-box;
    font-size: 18px;
}

.isinya ol li {
    margin-left: 18px;
    margin-right: -10px;
}

.langkah {
    display: inline-block;
    background-color: rgb(131, 176, 190);
    font-size: 15px;
    font-weight: bold;
    padding: 5px 5px;
    border-radius: 0 0 0 0;
    text-align: center;
    border: 2px solid rgb(1, 59, 78);
}

.kecil {
    width: 2.5vw;
}

.jwb1,
.jwb2,
.ptnya {
    margin: 3px;
    padding: 3px;
    width: 55vw;
}

.salah {
    border: 1px solid red;
}

.kecildikit {
    width: 12.5vw;
}


.lala,
.lala td {
    border: 1px solid black;
    border-collapse: collapse;
}

.lala td {
    padding: 5px;
    box-sizing: border-box;
}

.ikan {
    width: 100px;
}

.bg_pembahasan {
    border: 2px solid rgb(1, 59, 78);
    padding: 5px;
}

.jawabanA table,
.jawabanA td,
.jawabanB table,
.jawabanB td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 2px;
    box-sizing: border-box;
    margin-left: -15px;
}

.pertanyaann .button {
    font-size: 3.6vw;
    margin-bottom: 10px;
    margin-left: 2px;
    padding: 2px 6px;
    background-color: rgb(131, 176, 190);
    cursor: pointer;
    display: inline-block;
    border: 2px solid rgb(1, 59, 78);
    width: 25vw;

}


.pertanyaann {
    border: 2px solid rgb(1, 59, 78);
    position: relative;
}

.ketgambar {
    width: 6vw;
    position: absolute;
    margin-top: 6px;
    margin-left: 0px;
}

.jwbnya_nih {
    font-size: 15px;
    border: 1px solid gray;
    padding: 2px 5px;
    background-color: white;
    display: inline-block;
    color: gray;
    height: 18px;
    box-shadow: inset 2px 1px 6px rgba(0, 0, 0, 0.4);
    width: 50vw;
    overflow: hidden;
}

.ggmbr {
    margin-top: 2px;

}

.black {
    color: black !important;
}


.tombolnih {
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.425);
    border-radius: 5px;
    margin-top: -10px;
    border: 1px solid black;
    padding-bottom: 10px;
}

.tmbl {
    width: 12vw;
    height: 25px;
    background-color: lightgray;
    text-align: center;
    border-radius: 3px;
    line-height: 25px;
    float: left;
    margin-left: 22px;
    margin-top: 10px;
}

.tmbl:hover {
    cursor: pointer;
}

.gelap {
    background-color: rgb(163, 159, 159);
}

.ketnya {
    padding: 0px 15px;
    color: red;
    font-size: 14px;
}

.soalpertanyaan {
    border-left: 3px solid rgb(1, 59, 78);
    padding: 4px;
    margin-top: 5px;
    margin-left: 10px;
}

.dua {
    width: 40%;
    display: inline-block;
    float: right;
    margin-left: 10px;


}

.amparan {
    width: 100%;
}

.inline {
    display: inline-block;
    margin-left: 10px;
}

.ck {
    width: 48.5vw;
    font-size: 15px;
}

/* --------------------------AKHIR HP CSS-------------------------------- */










/* --------------------------AWAL WINDOW CSS-------------------------------- */
@media (min-width : 992px) {
    .judul-materi {
        width: 50%;
        font-size: 1.6vw;

    }

    .petunjuk {
        width: 50%;
        font-size: 1.6vw;
    }

    .isinya {
        font-size: 1.6vw;
    }

    .ubahdikit {
        border-radius: 10px 0px 0px 10px;
        float: right;
        border-left: none;
        border-right: 4px solid rgb(1, 59, 78);
        border-top: 4px solid rgb(1, 59, 78);
        border-left: 4px solid rgb(1, 59, 78);
    }

    .ubahdikit1 {
        border-left: 4px solid rgb(1, 59, 78);
        border-right: 4px solid rgb(1, 59, 78);
        border-top: 4px solid rgb(1, 59, 78);
    }

    .dalamnya {
        border: 4px solid rgb(1, 59, 78);
        margin-top: -3px;
        margin-right: 3px;
        box-sizing: border-box;
    }

    .lah {
        margin-left: 3px;
        height: 114px;
    }

    .ubahdikit p {
        text-align: right;
    }

    ol li {
        font-size: 1.6vw;
        margin-left: 50px;
    }

    nav {
        font-size: 1.6vw;
        margin-bottom: 15px;
    }

    .masuk {
        font-size: 1.6vw;
    }

    form .button {
        font-size: 1.5vw;
        margin-left: 20px;
        padding: 2px 6px;
    }

    form label {
        font-size: 1.5vw;
    }

    table p {
        font-size: 1.6vw !important;

    }

    .atur_gambar img {
        width: auto;
    }

    .nah {
        width: 50%;
    }

    .syarat,
    .tujuan {
        width: 50%;
        float: left;
        box-sizing: border-box;
    }

    .lalala {
        height: 34px;
    }

    mjx-container {
        font-size: 1.6vw !important;
    }

    p {
        font-size: 1.6vw !important;
    }



    /* --------------------------TENGAH WINDOW CSS-------------------------------- */

    .ke:hover {
        cursor: pointer;
        background-color: rgb(1, 59, 78) !important;
        padding-top: 10px;
    }

    .ke_aktif {
        background-color: rgb(1, 59, 78) !important;
        padding-top: 10px !important;
    }

    .ke {
        display: inline-block;
        background-color: rgb(131, 176, 190);
        font-size: 1.5vw;
        width: 150px;
    }

    .langkahnya {
        width: 100%;
        background-color: white;
        border: 2px solid rgb(1, 59, 78);
        margin-top: -2px;
        padding: 5px;
        box-sizing: border-box;
        font-size: 1.5vw;
    }

    .note {
        font-size: 15px !important;
        margin-top: 20px;
    }


    .aau {
        margin-left: 55px !important;
    }

    .interaktif {
        text-align: center;
        width: 80%;
        height: 450px;
        margin-left: 100px;
    }

    .Perbesarlah {
        margin-left: 45%;

    }

    .divscrath {
        overflow: hidden;
        height: 460px;
    }

    .scratch {
        margin-top: -40px;
        width: 100%;
        height: 502px;
    }

    .next_pensil {
        background-color: lightblue;
        padding: 5px;
        display: inline-block;
        margin-top: 10px;
        border: 1px solid rgb(1, 59, 78);
        border-radius: 5px;
    }

    .marginnn {
        margin: 3.5px 50px;
    }

    .petunjuk {
        width: 50%;
        font-size: 1.6vw;
    }

    .isinya {
        font-size: 1.6vw;
    }

    .langkah {
        font-size: 1.5vw !important;
        padding: 5px !important;
    }

    .kecil {
        width: 15px;
    }

    .kethap {
        width: 50%;
        padding: 2px;
    }

    .proses {
        width: 50%;
        padding: 2px;
    }

    .jwb1,
    .jwb2,
    .ptnya {
        margin: 3px;
        padding: 5px;
        font-size: 1.4vw;
        width: 320px;
    }

    .kecildikit {
        width: 60px;
    }

    .lala td {
        padding: 10px;
        box-sizing: border-box;
    }

    .ikan {
        width: 150px;
    }

    .jawabanA table,
    .jawabanA td,
    .jawabanB table,
    .jawabanB td {
        border: none;
        padding: 5px;
        box-sizing: border-box;
        margin-left: 0px;
    }

    .mai {
        width: 11vw;
    }

    .pertanyaann .button {
        font-size: 1.4vw;
        margin-left: 20px;
        padding: 2px 6px;
        width: 150px;
    }

    .ketgambar {
        width: 2.5vw;
        position: absolute;
        margin-top: 5px;
        margin-left: 2px;
    }

    .jwbnya_nih {
        font-size: 1.5vw;
        border: 1px solid gray;
        padding: 4px 7px;
        background-color: white;
        display: inline-block;
        color: gray;
        box-shadow: inset 2px 1px 6px rgba(0, 0, 0, 0.4);
        width: 30vw;
        height: 3.5vh;
        overflow: hidden;
    }

    .ggmbr {
        margin-top: 0px;

    }

    .tombolnih {
        width: 37vw;
        padding: 10px;
        border-radius: 5px;
        margin-top: -10px;
        padding-bottom: 10px;
    }

    .tmbl {
        width: 6vw;
        height: 2.5vw;
        background-color: lightgray;
        text-align: center;
        border-radius: 3px;
        float: left;
        margin-left: 26px;
        margin-top: 10px;
        font-size: 1.6vw;
        padding-top: 1vh;
    }

    .gelap {
        background-color: rgb(163, 159, 159);
    }

    .soalpertanyaan {
        border-left: 3px solid rgb(1, 59, 78);
        padding: 4px;
        margin-top: 5px;
    }

    .dua {
        width: 25%;
        display: inline-block;
        float: right;
        margin-left: 10px;
        padding-left: 30px;

    }


    .ck {
        width: 22vw;
        font-size: 1.6vw;
    }

    /* --------------------------AKHIR WINDOW CSS-------------------------------- */

}